/* -------- responsive media queries -------- */

@media only screen and (max-width: 700px) {

    .header-text {
        font-size: 30px;
    }

    .row  {
        flex-direction: column;
    }
  
    .leftcolumn-text, .rightcolumn-text {
        padding-right: 0;
        padding-left: 0;
    }

    .rightcolumn-text {
        margin-top: 0px;
    }

    .leftcolumn-text {
        margin-top: 30%;
    }

    #quote .quote-text span {
        margin-bottom: 50%;
    }
  
    .leftcolumn-img, .rightcolumn-img {
        margin-top: 20px;
    }

    .footer-left p{
        font-size: 12px;
    }

    #footer .row  {
        flex-direction: row;
    }
}
