/* -------- responsive media queries -------- */

@media only screen and (max-width: 700px) {

    .header-text {
        font-size: 30px;
    }

    .subheader-text {
        font-size: 20px;
    }

    .row  {
        flex-direction: column;
    }

    .quote-text p{
        font-size: 30px;
        line-height: 30px;
    }

    #quote .quote-text p span {
        font-size: 20px;
    }

    .intro-text {
        margin-top: 40%;
    }

    .mainSreenDevelopment {
        margin-top: 20%;
    }

    .leftcolumn-text {
        margin-top: 30%;
        padding-right: 0;
        padding-left: 0;
    }

    #quote .quote-text span {
        margin-bottom: 50%;
    }
  
    .rightcolumn-img {
        margin-top: 20px;
    }

    .mainSreenDevelopment {
        margin-top: 40%;
    }

    .mainSreenDevelopment img {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .articleHeader {
        margin-top: 40%;
    }

    .articleHeader p {
        text-align: center;
    }

    #finalDesign .screen {
        width: 66%;
        margin-left: 22%;
        margin-right: 22%;
    }

    .footer-left p{
        font-size: 12px;
    }

    #footer .row  {
        flex-direction: row;
    }
}
